// Custom Bootstrap Theme Colors
// :root {
//   --font-family: 'Funnel Sans', serif;
//   --navy: #09122c;
//   --red: #872341;
//   --pink: #be3144;
//   --light-pink: #e17564;
//   --white: #ffffff;
//   --black: #000;
//   --dark-gray: #333333;
// }

// // SCSS Variables (Bootstrap)
$font-family-base: 'Funnel Sans', serif;
$primary: #be3144;
$secondary: #872341;
$success: #198754;
$danger: #dc3545;
$warning: #ffc107;
$info: #e17564;
$light: #ffffff;
$dark: #09122c;
$body-color: #000000;
$body-bg: #ffffff;

@import '../../node_modules/bootstrap/scss/bootstrap';
