:root {
  /* Font */
  --font-family: 'Funnel Sans', serif;
  /* Palette */
  --navy: #09122c;
  --red: #872341;
  --pink: #be3144;
  --light-pink: #e17564;
  --white: #ffffff;
  --black: #000;
  --dark-gray: #333333;
}
* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

body {
  font-family: var(--font-family) !important;
  background-image: url(./assets/rm222-mind-14-2.jpg);
  background-size: cover;
  background-position: center top !important;
  rotate: -90;
}
.backDrop {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.form-floating > label::after {
  background-color: transparent !important;
}

.form-check-input {
  background-color: white !important;
  border: 1px solid var(--pink) !important;
  width: 1.2em !important;
  height: 1.2em !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.form-check-input:checked {
  background-color: var(--pink) !important;
  border-color: var(--pink) !important;
  position: relative !important;
}

.form-check-input:checked::after {
  content: '✔' !important;
  color: white !important;
  font-size: 0.8em !important;
  font-weight: bold !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
.addContact {
  margin-top: 67px !important;
}
.fs-md-6 {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .fs-md-6 {
    font-size: 1.25rem;
  }
}
