:root {
  /* Font */
  --font-family: 'Funnel Sans', serif;
  /* Palette */
  --navy: #09122c;
  --red: #872341;
  --pink: #be3144;
  --light-pink: #e17564;
  --white: #ffffff;
  --black: #000;
  --dark-gray: #333333;
}
* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

body {
  font-family: var(--font-family) !important;
  background-image: url(./assets/rm222-mind-14-2.jpg);
  background-size: cover;
  background-position: center top !important;
  rotate: -90;
}
.backDrop {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
